//body
  .prova{
  @include xy-grid-container;
  @include xy-grid();
  }
// header
  header{
      @include xy-cell(2);
      margin-top: rem-calc(50);
      text-transform: uppercase;
      .menuPrincipal{
        li{
          color: $dark-gray;
          list-style-type: none;
              line-height: 1.2;

          // margin-top:1rem;
        }
        ul{
          margin:0;
          margin-bottom:1rem;
        }
        a{
          font-weight: bolder;
          padding-top:1rem;
          color: $dark-gray;
          &:hover{
            color:$medium-gray;
          .active{
            color:$black;
           }
          }
        }

      }
      .logo img{
        width:8rem;
        margin:0;
        margin-bottom: 2rem;
      }


  }

//body
  .container{
      @include xy-cell(10);
  }
  .container-top{
      margin: rem-calc(50) 0;
  }

  .container-metode{
    margin-top: 2.8rem;
  }


//lang
.lang{
  text-transform: lowercase;
  font-weight: 300;
  font-size: 0.9rem;
  a{
    // color: $medium-gray;
    padding: 0;
    padding-right: 0.5rem;
   }
   .active{
     font-weight: 600;
   }
}

//orbit
.orbit-previous, .orbit-next {
  color: $medium-gray;
  margin: 0 -3rem;
  &:hover{ color: $dark-gray;
          background-color: transparent;}
}
 .orbit-previous:active, .orbit-next:active, .orbit-previous:focus, .orbit-next:focus {
  color: $medium-gray;
  background-color: transparent;
}

.orbit-image{
  height: 30rem;
  width: auto;
  display: block;
  margin-left: auto;
}
