//body
  .prova{
  @include xy-grid-container;
  @include xy-grid();
  }
// header
  header{
      @include xy-cell(12);
        margin-top: 1.5rem;
      @include breakpoint(medium){
        @include xy-cell(2);
        margin-top: rem-calc(50);
      }


      text-transform: uppercase;
      .logo img{
        width:8rem;
        margin:0;
        margin-bottom: 2rem;
      }
      .menuPrincipal{

      @include breakpoint(small only){
          display:inline-flex;
          font-size: 0.9rem;
              width: 100%;
              li{margin: 0; margin-right: auto; }
              .lang{position:absolute;
                li{
                margin-right: 0;
                }
                top:0.5rem;
                right:1rem;
              }
        }
        li{
          color: $dark-gray;
          list-style-type: none;
              line-height: 1.2;

          // margin-top:1rem;
        }
        ul{
          margin:0;
          margin-bottom:1rem;
        }
        a{
          font-weight: bolder;
          padding-top:1rem;
          color: $dark-gray;
          &:hover{
            color:$medium-gray;
          .active{
            color:$black;
           }
          }
        }

      }




  }

//body
  .container{
    @include xy-cell(12);
    @include breakpoint(medium){
      @include xy-cell(10);
    }
  }
  .container-top{
      margin-top: rem-calc(50);
  }

  .container-metode{
    margin-top: 2.8rem;
  }


//lang
.lang{
  text-transform: lowercase;
  font-weight: 300;
  font-size: 0.9rem;
  a{
    // color: $medium-gray;
    padding: 0;
    padding-right: 0.5rem;
   }
   .active{
     font-weight: 600;
   }
}

//orbit
 .orbit-previous:active, .orbit-next:active, .orbit-previous:focus, .orbit-next:focus {
  color: $medium-gray;
  background-color: transparent;
}
.orbit-image{
  width: auto;
  max-width: none;
  height: 30rem;
  display: block;
  margin-left: auto;
}
